---
layout: default
---
<div class="main">
    <div class="section"
         style="background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, rgba(195,203,222,0.1) 45%, rgba(195,203,222,0.1) 45%);">
        <div class="container">
            <div class="row mt-md-5">
                <div class="col-md-8">
                    <img class="img-fluid w-100" src="{{site.baseurl}}/assets/img/{{ page.img }}">
                </div>
                <div class="col-md-4">
                    <h1 class="display-2 font-weight-bold">{{ page.title }}</h1>
                    <p class="text-muted font-weight-bold">
                        <span class="d-inline-block nav-link">{{ page.date | date_to_string }}</span>
                    </p>
                    <p class="text-muted mt-2" id="social-media-buttons">
                    <span class="d-inline-block nav-link pointer">
                        <a href="https://www.facebook.com/sharer.php?u={{ site.url }}/{{ page.url }}&title={{ page.title }}"
                           title="Share on Facebook" target="_blank">
                            <i class="fab fa-facebook fa-2x text-muted"></i>
                        </a>
                    </span>
                    <span class="d-inline-block nav-link pointer">
                        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
                           rel="nofollow" target="_blank" title="Share on Twitter">
                            <i class="fab fa-twitter fa-2x text-muted"></i>
                        </a>
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row justify-content-center" id="post_body">
                <div class="col-md-7 post-content text-muted">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>

