---
layout: default
---
<div class="page-header header-filter" style="background-image: url('{{ site.baseurl }}/assets/img/{{ page.img }}')">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">{{ page.title }}</h1>
                <h4>Every landing page needs a small description after the big bold title, that&apos;s why we added this text here. Add here all the information that can make you or your product create the first impression.</h4>
                <br>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
                    <i class="fa fa-play"></i> Watch video
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="section">
        <div class="container">
            <div class="row justify-content-center rounded" id="post_body">
                <div class="col-md-8">
                    <h1 class="display-3">{{ page.title }}</h1>
                    <p class="text-muted">
                        <span class="d-inline-block nav-link"><i class="far fa-calendar-alt"></i> {{ page.date | date_to_string }}</span>
                    </p>
                    <img class="w-100 img-fluid" src="{{site.baseurl}}/assets/img/{{ page.img }}">
                    <div class="font-size-paragraph mt-5">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

